<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pastebin</title>
  <link href="/img/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" href="/styles/bulma.min.css">
  <link rel="stylesheet" href="/styles/animate.css">
  <link rel="stylesheet" href="/styles/richman.css">
  <script src="/js/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="info animated bounceInLeft">
      Rust Rocket pastebin! <img src="/img/favicon32.ico" alt="" style="top: 15px; position: relative;">
    </div>
    <form action="/" method="POST" id="pasteform" name="pasteform">
      <div class="field">
        <div class="control">
          <textarea class="textarea is-primary" id="id_content" type="text" name="content" placeholder="input code here!"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <input class="button is-primary" type="submit" value="Paste!">
        </p>
      </div>
    </form>
  </div>
  <script src="/js/richman.js"></script>
</body>
<!--     junjun
#       ┏┓　 ┏┓+ +
#　　　┏┛┻━━━┛┻┓ + +
#　　　┃　　　　  ┃ 　
#　　　┃　　　━　　 ┃ ++ + + +
#　　 ████━████   ┃+
#　　　┃　　　　　　　┃ +
#　　　┃　　　┻　　　┃
#　　　┃　　　　　　　┃ + +
#　　　┗━┓　　　┏━┛
#　　　　　┃　　　┃　　　　　　　　　　　
#　　　　　┃　　　┃ + + + +
#　　　　　┃　　　┃　　　　Codes are far away from bugs　　　
#　　　　　┃　　　┃ + 　　　　神兽保佑,代码无bug　　
#　　　　　┃　　　┃
#　　　　　┃　　　┃　　+　　　　　　　　　
#　　　　　┃　 　　┗━━━┓ + +
#　　　　　┃ 　　　　　　　┣┓
#　　　　　┃ 　　　　　　　┏┛
#　　　　　┗┓┓┏━┳┓┏┛ + + + +
#　　　　　　┃┫┫　┃┫┫
#　　　　　　┗┻┛　┗┻┛+ + + +  -->
</html>